@{
    Layout = "_Layout";
    ViewData["Title"] = "Overview";
}

<div class="overview-title">Overview</div>

<div class="profit-container">
    <div class="goal-profit">
        <h1>₱10,000</h1>
        <p>Goal Profit</p>
    </div>
    <div class="optimal-production">
        <h1>12,345</h1>
        <p>Optimal Total Production</p>
    </div>
</div>

<div class="excess-products">
    <h2>Excess Products</h2>
    <div class="products-list">
        <div>
            <p>Bread1</p>
            <p>200</p>
        </div>
        <div>
            <p>Bread2</p>
            <p>200</p>
        </div>
        <div>
            <p>Bread3</p>
            <p>200</p>
        </div>
        <div>
            <p>Bread4</p>
            <p>200</p>
        </div>
        <div>
            <p>Bread5</p>
            <p>200</p>
        </div>
    </div>
</div>

<div class="lacking-products">
    <h2>Lacking Products</h2>
    <div class="products-list">
        <div>
            <p>Bread11</p>
            <p>200</p>
        </div>
        <div>
            <p>Bread12</p>
            <p>200</p>
        </div>
        <div>
            <p>Bread13</p>
            <p>200</p>
        </div>
        <div>
            <p>Bread14</p>
            <p>200</p>
        </div>
        <div>
            <p>Bread15</p>
            <p>200</p>
        </div>
    </div>
</div>
