<!DOCTYPE html>
 <! -- for side task bar ito --->

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Project1</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="main-container">
        <div class="sidebar">
            <h2>Project1</h2>
            <ul> 
                <li>
                    <a href="#">
                        <img src="~/images/overview-icon.png" alt="Overview Icon" class="sidebar-icon" />
                        Overview
                    </a>
                </li>
                <li>
                    <a href="#">
                        <img src="~/images/production-icon.png" alt="Production Icon" class="sidebar-icon" />
                        Production
                    </a>
                     </li>
                <li>
                    <a href="#">
                        <img src="~/images/ingredients-icon.png" alt="Production Icon" class="sidebar-icon" />
                        Ingredients
                    </a>
                </li>
                <li><a href="#">
                      <img src="~/images/products-icon.png" alt="Production Icon" class="sidebar-icon" /> 
                    Products
                    </a>
                    </li>
                <li><a href="#">
                    <img src="~/images/view-result-icon.png" alt="Production Icon" class="sidebar-icon" /> 
                    View Results
                    </a>
                    </li>
            </ul>
        </div>
        <div class="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
